*{
    color: brown;
    background-color: bisque;

}
h1{
    /* text-align: center; */
    /* margin-top: auto; */
    /* height: 36px; */
    width:  100px;
    background-color: burlywood;
    color: blueviolet;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
  }
  
  button {
    color: black;
  }
  