*{
    background-color: blueviolet;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    /* background-image: url("classroom/car_photo.jpg");
    background-size: contain; */

}
.gog{
    font-size: 30px;
    color: white;
    text-align: center;
}
.gogl{
font-size: 35px;
color: white;
display: inline-block;
}
p{
    color: chartreuse;
}

.but{
    text-align: center;
    font-size: 30px;
    /* border: 2px solid white; */
}
.but:hover{
    color:white;
}